<div class="spinner-container" *ngIf="!isStarted">
	<mat-spinner></mat-spinner>
</div>
	
<div class="flex">
	<div *ngIf="isStarted" class="container">
		<form [formGroup]="serviceForm" #formDirective="ngForm" (ngSubmit)="onServiceFormSubmit(this.formDirective)">
			<mat-card-header class="header">
				<mat-card-title class="title">{{title}}</mat-card-title>
			</mat-card-header>

			<mat-card-content>
				<mat-form-field>
					<mat-label>Descrição</mat-label>
					<input matInput placeholder="Descrição dos serviços" type="text" formControlName="name" required>
				</mat-form-field>

				<mat-form-field class="flex">
					<mat-label>Preço</mat-label>
					<input matInput placeholder="Preço" type="text" formControlName="price">
				</mat-form-field>

				<app-additional-field [params]="paramsToAdditionalField" (changeAdditionalField)="onOutputFromAdditionalField($event)"></app-additional-field>
			</mat-card-content>
				
			<div class="button-container">
				<button mat-raised-button [disabled]="serviceForm.invalid" class="button">{{submitButton}}</button>
			</div>

		</form>
	</div>
</div>