#sellingTableData {
    width: 100%;
    border: none;
}

#sellingTableData tr th:nth-child(1) { /*Tipo*/
    width: 10%;
    background: pink;
}

#sellingTableData tr th:nth-child(2) { /*Descrição*/
    width: 55%;
    background: yellow;
}

#sellingTableData tr th:nth-child(3) { /*Preço unitário*/
    width: 10%;
    background: green;
}

#sellingTableData tr th:nth-child(4) { /*Quantidade*/
    width: 5%;
    background: red;
}

#sellingTableData tr input {
    width: 50%;
}

#sellingTableData tr th:nth-child(5) { /*Desconto por item*/
    width: 10%;
    background: greenyellow;
}

#sellingTableData tr th:nth-child(6) { /*Preço total*/
    width: 10%;
    background: blueviolet;
}
