#sellingListHeader {
    width: 100%;
}

#sellingListBody {
    width: 100%;
}

#sellingListFooter {
    width: 100%;
}

#sellingListHeader {
    margin-top: 15px;
    border-bottom: solid 1px black;
    background: rgb(243, 243, 243);
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: small;
}

#sellingListHeader div:nth-child(1) { /*Descrição*/
    width: 40%;
}

#sellingListHeader div:nth-child(2) { /*Preço unitário*/
    width: 15%;
}

#sellingListHeader div:nth-child(3) { /*Quantidade*/
    width: 10%;
}

#sellingListHeader div:nth-child(4) { /*Desconto por item*/
    width: 15%;
}

#sellingListHeader div:nth-child(5) { /*Preço total*/
    width: 15%;
}

#sellingListHeader div:nth-child(6) { /*Remover item*/
    width: 5%;
}

#sellingListBody {
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: small;
}

#sellingListBody:hover {
    background: rgb(243, 243, 243);
}

#sellingListBody div:nth-child(1) { /*Descrição*/
    width: 40%;
}

#sellingListBody div:nth-child(2) { /*Preço unitário*/
    width: 15%;
}

#sellingListBody div:nth-child(3) { /*Quantidade*/
    width: 10%;
}

#sellingListBody div input {
    border-style: none;
    width: 50px;
    right: 0;
    background: transparent;
    text-align: center;
}

#sellingListBody div:nth-child(4) { /*Desconto por item*/
    width: 15%;
}

#sellingListBody div:nth-child(5) { /*Preço total*/
    width: 15%;
}

#sellingListBody div:nth-child(6) { /*Remover item*/
    width: 5%;
}

#sellingListFooter {
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: small;
}

#sellingListFooter div:nth-child(1) { /*Desconto no total*/
    width: 80%;
    text-align: right;
}

#sellingListFooter div:nth-child(2) { /*Input de desconto no total*/
    width: 15%;
}

#sellingListFooter div input {
    border-style: none;
    width: 50px;
    text-align: center;
}

#sellingListFooter div:nth-child(3) { /*espaço*/
    width: 5%;
}

#sellingListFooter div:nth-child(4) { /*Legenda de soma dos preços totais*/
    width: 80%;
}

#sellingListFooter div:nth-child(5) { /*Soma dos preços totais*/
    width: 15%;
}

.container {
    margin-top: 10px;
}

.formField {
    width: 90% !important;
}

.grey-row {
    background: #CFD8DC;
}

.label {
    font-weight: 500;
    font-size: 15px;
    line-height: 32px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin-bottom: 15px;
}

.listOrder {
    float: left;
    width: 100%;
}

.listOrderContainer {
    width: 90%;
}

.radioButton {
    margin-bottom: 15px;
}

.section {
    padding: 15px 0px 15px 50px;
    margin-left: -25px;
}

.sectionWithColor {
    background: rgb(243, 243, 243);
    padding: 15px 0px 15px 50px;
    margin-left: -25px;
}

.title {
    margin-bottom: 0px;
}
