<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content>
  <div *ngIf="!isStarted" class="container">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  
  <div class="flex">
    <div *ngIf="isStarted" class="container">
      <form [formGroup]="incomingForm" #formDirective="ngForm">
        <mat-card-content>  
          <mat-radio-group formControlName="type">
            <mat-label>Tipo *</mat-label>
            <mat-radio-button value="product">Produto</mat-radio-button>
            <mat-radio-button value="service">Serviço</mat-radio-button>
          </mat-radio-group>

          <mat-form-field appearance="outline" *ngIf="incomingForm.value.type === 'product' && products.length > 0">
            <mat-label>Produto</mat-label>
            <mat-select placeholder="Escolha o produto lançado" formControlName="product" required>
              <mat-option *ngFor="let product of products" [value]="product._id">
                {{ product.barcode }} - {{ product.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" *ngIf="incomingForm.value.type === 'service'">
            <mat-label>Serviço</mat-label>
            <mat-select placeholder="Escolha o serviço lançado" formControlName="service" required>
              <mat-option *ngFor="let service of services" [value]="service._id">
                {{ service.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Cliente/Fornecedor</mat-label>
            <mat-select placeholder="Qual o cliente/fornecedor" formControlName="receiver">
              <mat-option *ngFor="let receiver of receivers" [value]="receiver">
                {{ receiver.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Qtd</mat-label>
            <input matInput placeholder="Quantidade vendida" type="number" formControlName="quantity">
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Perdas</mat-label>
            <input matInput placeholder="Quantidade perdida" type="number" formControlName="lost_quantity">
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Valor</mat-label>
            <input matInput placeholder="Preço" type="float" formControlName="price" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline" style="width: 70%; margin-right: 2%;">
            <mat-label>Forma de pagamento</mat-label>
            <mat-select placeholder="Escolha a forma de pagamento" formControlName="payment" required>
              <mat-option value="cash">À vista</mat-option>
              <mat-option value="financed">Parcelado</mat-option>
              <mat-option value="card">Cartão - Parcelado</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline" style="width: 22%">
            <mat-label>Qtd</mat-label>
            <input matInput placeholder="Qtd" type="number" formControlName="payment_quantity">
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Data do lançamento" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
  
          <div *ngFor="let field of fields; let i = index">
            <mat-form-field appearance="outline" style="width: 85%">
              <mat-label>{{field}}</mat-label>
              <input matInput placeholder="{{field}}" type="text" formControlName="{{field}}">
            </mat-form-field>
            <i class="material-icons" style="cursor: pointer;" (click)="removeField(i)">
              remove_circle
            </i>
          </div>
  
          <button mat-raised-button type="button" (click)="addField()" style="width: 100%;">Adicionar campo</button>
        </mat-card-content>
      </form>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="flex">
    <button mat-raised-button [disabled]="incomingForm.invalid || isDisabled" (click)="onIncomingFormSubmit(this.formDirective)" color="primary">
      {{submitButton}}
    </button>

    <button mat-raised-button (click)="onClose();" color="warn">Fechar</button>
  </div>
</mat-dialog-actions>
