<mat-toolbar id="menu-toolbar"> 
  <div id="menu-toolbar-head">
    <div id="area-user">
        <div id="img-circle"></div>
        <div id="name-profile">Giovanni</div>
    </div>
  </div>
  <div id="menu-toolbar-footer">
    <div id="logo">
      <label id="logo_m">M</label>oderatoro
    </div>
  </div>
</mat-toolbar>
<div class="container">
  <div id="profilechoice">
    <div id="profile-choice-title">
      Criar Perfil
    </div>
    <div id="profile-choice-select">
      <div>
        Escolha seu tipo de perfil - <span>Atenção: uma vez cadastrado o perfil, o tipo de perfil nunca poderá ser alterado</span>
      </div>
      <div id="area-form-profile">
        <form [formGroup]="profileChoiceForm" (ngSubmit)="onProfileChoiceFormSubmit()">
          <mat-radio-group formControlName="description" (change)="checkUserExistence()">
            <mat-radio-button value="animals">Animal</mat-radio-button>
            <mat-radio-button value="companies">Empresa</mat-radio-button>
            <mat-radio-button value="entities">Entidade</mat-radio-button>
            <mat-radio-button value="people">Pessoa</mat-radio-button>
          </mat-radio-group>
        </form>
      </div>
    </div>
  </div>
  <div id="profile-choice-person">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="dadosPessoais">
        <ng-template matStepLabel>Dados Pessoais</ng-template>
        <div id="form-person">
          <mat-form-field id="form-width">
            <input matInput placeholder="Nome Completo" required>
          </mat-form-field>
          <mat-form-field id="form-width">
            <input matInput type="date" placeholder="Data de Nascimento" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field id="form-width">
            <textarea matInput #message maxlength="255" placeholder="Apresentação pessoal:"></textarea>
            <mat-hint align="end">{{ message.lenght }} / 255</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="Documentos">
        <ng-template matStepLabel>Documentos</ng-template>
        <mat-form-field>
          <mat-select placeholder="Tipo de Documento">
            <mat-option value="1">CPF</mat-option>
            <mat-option value="2">RG</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-step>
      <mat-step [stepControl]="Endereco">
        <ng-template matStepLabel>Endereço</ng-template>
      </mat-step>
      <mat-step [stepControl]="Contatos">
        <ng-template matStepLabel>Contatos</ng-template>
      </mat-step>
      <mat-step [stepControl]="DadosEscolares">
        <ng-template matStepLabel>Dados Escolares</ng-template>
      </mat-step>
      <mat-step [stepControl]="DadosProfissionais">
        <ng-template matStepLabel>Dados Profissionais</ng-template>
      </mat-step>  
    </mat-horizontal-stepper>
  </div>
</div>

<!--
  <div *ngIf="isStarted">
  FORM DE PESSOA
  <mat-card class="container" *ngIf="profileChoiceForm.get('description').value === 'people'">
    <form [formGroup]="peopleForm" (ngSubmit)="onPeopleFormSubmit()">
      <mat-card-title>Perfil de pessoa</mat-card-title>
  
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <mat-icon matPrefix>people</mat-icon>
        <input matInput placeholder="Digite seu nome" type="text" formControlName="name" required>
      </mat-form-field>
  
      <div class="flex">
        <mat-radio-group formControlName="gender">
          <mat-label>Gênero *</mat-label>
          <mat-radio-button value="Masculino">Masculino</mat-radio-button>
          <mat-radio-button value="Feminino">Feminino</mat-radio-button>
        </mat-radio-group>
  
        <mat-form-field>
          <mat-label>Nascimento</mat-label>
          <input matInput placeholder="Digite ou clique no ícone" formControlName="birthday" [textMask]="{mask: mask.date, pipe: autoCorrectedDatePipe}"
            required>
        </mat-form-field>
      </div>
  
      <button mat-raised-button>Cadastrar</button>
    </form>
  </mat-card>
  FORM DE ANIMAL
  <mat-card class="container" *ngIf="profileChoiceForm.get('description').value === 'animals'">
    Formulário de animal
  </mat-card>
  FORM DE EMPRESA
  <mat-card class="container" *ngIf="profileChoiceForm.get('description').value === 'companies'">
    <form [formGroup]="companiesForm" (ngSubmit)="onCompaniesFormSubmit()">
      <mat-card-title>Perfil de empresa</mat-card-title>
  
      <mat-form-field id="cpf">
        <mat-label>CNPJ</mat-label>
        <input matInput placeholder="Digite ser CNPJ" type="text" formControlName="cnpj"
          [textMask]="{mask: mask.cnpj}" required>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Nome fantasia</mat-label>
        <input matInput placeholder="Digite o nome fantasia do cliente" type="text" formControlName="business_name" required>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Razão social</mat-label>
        <input matInput placeholder="Digite a razão social do cliente" type="text" formControlName="company_name" required>
      </mat-form-field>
  
      <div class="flex">
        <section id="document">
          <button mat-raised-button type="button" (click)="addDocument()">Adicionar documento</button>
          <mat-card-content *ngIf="documentsObject.length > 0">
            <mat-card-header>
              <mat-card-subtitle>Documentos adicionados</mat-card-subtitle>
            </mat-card-header>
  
            <mat-card *ngFor="let document of documentsObject; let i = index;">
              <div class="flex">
                <section>
                  {{document.type}} - {{document.value}}
                  <div *ngIf="document.makingDate != '' || document.validityDate != ''">
                    <div>
                      <span *ngIf="document.makingDate != ''" class="subtext">Emissão: {{document.makingDate}}</span>
                      <span *ngIf="document.validityDate != ''" class="subtext">Validade: {{document.validityDate}}</span>
                    </div>
                  </div>
                </section>
  
                <section class="action-icon">
                  <a (click)="deleteDocument(i)">
                    <mat-icon>delete</mat-icon>
                  </a>
                </section>
              </div>
            </mat-card>
          </mat-card-content>
        </section>
  
        <section id="contact">
          <button mat-raised-button type="button" (click)="addContact()">Adicionar contato</button>
          <mat-card-content *ngIf="contactsObject.length > 0">
            <mat-card-header>
              <mat-card-subtitle>Contatos adicionados</mat-card-subtitle>
            </mat-card-header>
  
            <mat-card *ngFor="let contact of contactsObject; let i = index;">
              <div class="flex">
                <section>
                  {{contact.type}} - {{contact.value}}
                </section>
  
                <section class="action-icon">
                  <a (click)="deleteContact(i)">
                    <mat-icon>delete</mat-icon>
                  </a>
                </section>
              </div>
            </mat-card>
          </mat-card-content>
        </section>
  
  
         <section class="checkbox">
              <mat-label>Checkboxes</mat-label>
              <mat-checkbox>Checked</mat-checkbox>
              <mat-checkbox>Indeterminate</mat-checkbox>
            </section> 
      </div>
  
      <section id="address">
        <button mat-raised-button type="button" (click)="addAddress()">Adicionar endereço</button>
        <mat-card-content *ngIf="addressesObject.length > 0">
          <mat-card-header>
            <mat-card-subtitle>Contatos adicionados</mat-card-subtitle>
          </mat-card-header>
  
          <mat-card *ngFor="let address of addressesObject; let i = index;">
            <div class="flex">
              <section>
                {{address.type}} - {{address.value}}
              </section>
  
              <section class="action-icon">
                <a (click)="deleteAddress(i)">
                  <mat-icon>delete</mat-icon>
                </a>
              </section>
            </div>
          </mat-card>
        </mat-card-content>
      </section>
  
      <button mat-raised-button [color]="primary">Cadastrar</button>
    </form>
  </mat-card>
  <!--FORM DE ENTIDADE
  <mat-card class="container" *ngIf="profileChoiceForm.get('description').value === 'entities'">
    Formulário de entidade
  </mat-card>
</div>
-->


