#menu-toolbar {
    background-color: #000B48;
    display: flex;
    flex-direction: column;
}


#menu-toolbar-head {
    height: 100px;
    width: 80%
}

#area-user {
    width: 300px;
    height: 100px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-circle {
    background-color: #dedede;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    margin-right: 10px;
}

#name-profile {
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    font-weight: 400; 
    color: #ffffff; 
}

#logo {
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'poppins', sans-serif;
    font-size: 30px;
    font-weight: 100; 
    color: #ffffff; 
}

#logo_m {
    font-weight: 900;
}

#profile-choice-title {
    height: 50px;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    color: #000000;
    border-bottom: #000000 solid 1px;
    display: flex;
    align-items: center;
}

#profile-choice-select {
    padding-top: 20px;
    height: 50px;
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    color: #000000;
    font-weight: 400px;   
}

#profile-choice-select span {
    color: #656565;
}

#area-form-profile {
    padding-top: 20px;
}

#profile-choice-person {
    margin-top: 20px;
    background-color: red;
}

#btn-choice button{
    margin-left: 5px;
}

#form-width {
    width: 400px;
}

#form-width-document {
    width: 150px;
}

#cnpj {
    width: 50%;
}

#cpf {
    width: 50%;
}

section button {
    margin-bottom: 20px;
}

.action-icon { 
    width: 10%;
    cursor: pointer;
}

.subtext {
    font-size: 10px;
    margin-right: 10px;
}

@media screen and (max-width:480px){
    #cnpj {
        width: 100%;
    }

	#cpf {
        width: 100%;
    }
}