<h2 mat-dialog-title>Adicionar contato</h2>
<form [formGroup]="contactForm">  
  <div class="flex">  
    <mat-form-field appearance="outline">
      <mat-select placeholder="Tipo de contato *" formControlName="type" (selectionChange)="contactNameToMask()">
        <mat-option *ngFor="let contact of contacts" [value]="contact.name">
          {{ contact.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="outline" *ngIf="mask[contactMask]">
      <mat-label>Valor</mat-label>
      <input matInput placeholder="Identificador do contato" type="text" formControlName="value" required [textMask]="{mask: mask[contactMask]}">
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="!mask[contactMask]">
      <mat-label>Valor</mat-label>
      <input matInput placeholder="Identificador do contato" type="text" formControlName="value" required>
    </mat-form-field>
  </div>
  
  <div class="flex">
    <button mat-button [mat-dialog-close]="{
      type: contactForm.value.type,
      value: contactForm.value.value
    }" [disabled]="contactForm.invalid">Adicionar</button>
    <button mat-button [mat-dialog-close]="false">Cancelar</button>
  </div>
</form>
