#button-color {
    font-size: 20px;
    width: 100%;
    background-color: #000B48;
    color: #ffffff;
    font-display: 'poppins', sans-serif;
    font-weight: 100;
}

form {
    width: 100%;
}

mat-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 300px;
    z-index: 1;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
    background-color: #36396a;
    font-size: small;
}

#background {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: #000B48;
}

/deep/ .mat-form-field-label  {
    color: #ffffff !important;
}

/deep/ .mat-form-field-underline{
    background-color: #ffffff !important;    
}

#form-option {
    margin-top: 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#form-option a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    font-style: 200;
    opacity: 1;
    font-size: 20px;
}

mat-card form {
    opacity: 1;
}

mat-form-field  {
    color: #fff;
}

#background mat-form-field {
    display: block;
}

#logo {
    font-family: 'poppins', sans-serif;
    margin-bottom: 39px;
    font-size: 100px;
    font-weight: 100; 
    color: #ffffff; 
}

#logo_m {
    font-weight: 900;
}



/* Responsive stuffs - start */

/* Small devices (Smartphones, 425px and down) */
@media only screen and (max-width: 425px) {
    input {
        font-size: 16px;
    }

    mat-card {
        width: 80%;
    }

    #logo {
        font-size: 40px;
    }
}
/* Responsive stuffs - end */