<div class="spinner-container" *ngIf="!isStarted">
	<mat-spinner></mat-spinner>
</div>

<div class="flex">
	<div *ngIf="isStarted" class="container">
		<form [formGroup]="productForm" #formDirective="ngForm" (ngSubmit)="onProductFormSubmit(this.formDirective)">
			<mat-card-header class="header">
				<mat-card-title class="title">{{title}}</mat-card-title>
			</mat-card-header>

			<mat-card-content>
				<mat-form-field appearance="outline">
					<mat-label>Nome</mat-label>
					<input matInput placeholder="Nome do produto" type="text" formControlName="name" required>
				</mat-form-field>

				<mat-form-field appearance="outline" class="flex" style="width: 60%;">
					<mat-label>Código de barras</mat-label>
					<input matInput placeholder="Código de barras" type="text" formControlName="barcode">
				</mat-form-field>

				<mat-form-field appearance="outline" class="flex" style="width: 35%;">
					<mat-label>Unidade de medida</mat-label>
					<input matInput placeholder="Unidade de medida" type="text" formControlName="unit">
				</mat-form-field>

				<app-additional-field [params]="paramsToAdditionalField" (changeAdditionalField)="onOutputFromAdditionalField($event)"></app-additional-field>
			</mat-card-content>

			<div class="button-container">
				<button mat-raised-button [disabled]="productForm.invalid" class="button">{{submitButton}}</button>
			</div>
		</form>
	</div>
</div>