<h1 mat-dialog-title>{{title}}</h1>
<form [formGroup]="productForm" #formDirective="ngForm">
  <mat-dialog-content>
    <div *ngIf="!isStarted" class="container">
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    </div>

    <div class="flex">
      <div *ngIf="isStarted" class="container">
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome do produto" type="text" formControlName="name" required>
          </mat-form-field>

          <div class="flex">
            <mat-form-field appearance="outline">
              <mat-label>Código de barras</mat-label>
              <input matInput placeholder="Código de barras" type="text" formControlName="barcode">
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex">
              <mat-label>Unidade de medida</mat-label>
              <input matInput placeholder="Unidade de medida" type="text" formControlName="unit">
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex">
              <mat-label>Preço</mat-label>
              <input matInput placeholder="Preço" type="text" formControlName="price">
            </mat-form-field>
          </div>

          <app-additional-field [params]="paramsToAdditionalField" (changeAdditionalField)="onOutputFromAdditionalField($event)"></app-additional-field>
        </mat-card-content>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="flex">
      <button mat-raised-button [disabled]="productForm.invalid" class="button" (click)="onProductFormSubmit(this.formDirective)">{{submitButton}}</button>

      <button mat-raised-button (click)="onClose();" color="warn">Fechar</button>
    </div>
  </mat-dialog-actions>
</form>
