<h1 mat-dialog-title>{{title}}</h1>

<mat-dialog-content>
  <form [formGroup]="clientModuleForm">
    <div class="label">Tipo de cliente</div>
    
    <mat-radio-group formControlName="description" (change)="clientModuleForm.get('description').setValue(clientModuleForm.get('description').value)">
      <mat-radio-button value="animals">Animal</mat-radio-button>
      <mat-radio-button value="companies">Empresa</mat-radio-button>
      <mat-radio-button value="entities">Entidade</mat-radio-button>
      <mat-radio-button value="people">Pessoa</mat-radio-button>
    </mat-radio-group>
  </form>
  <!--FORM DE PESSOA-->
  <form [formGroup]="peopleForm" (ngSubmit)="onPeopleFormSubmit()" *ngIf="clientModuleForm.get('description').value === 'people'">
    <div class="label">Pessoa</div>
    <mat-form-field id="cpf">
      <mat-label>CNPJ</mat-label>
      <input matInput placeholder="Digite seu CNPJ" type="text" formControlName="cnpj" [textMask]="{mask: mask.cnpj}" required>
    </mat-form-field>
  </form>
  <!--FORM DE ANIMAL-->
  <form [formGroup]="animalsForm" (ngSubmit)="onAnimalsFormSubmit()" *ngIf="clientModuleForm.get('description').value === 'animals'">
    Formulário de animal
  </form>
  <!--FORM DE EMPRESA-->
  <form [formGroup]="companiesForm" (ngSubmit)="onCompaniesFormSubmit()" *ngIf="clientModuleForm.get('description').value === 'companies'">
    <div class="label">Empresa</div>

    <mat-form-field id="cpf">
      <mat-label>CNPJ</mat-label>
      <input matInput placeholder="Digite seu CNPJ" type="text" formControlName="cnpj" [textMask]="{mask: mask.cnpj}" (keyup)="cnpjExistence()" required>

      <mat-error *ngIf="companiesForm.get('cnpj').touched && companiesForm.get('cnpj').errors">{{companiesForm.get('cnpj').errors.message}}</mat-error>
    </mat-form-field>
  </form>
  <!--FORM DE ENTIDADE-->
  <!-- <form [formGroup]="companiesForm" (ngSubmit)="onEntitiesFormSubmit()" *ngIf="clientModuleForm.get('description').value === 'entities'">
    Formulário de entidade
  </form> -->
</mat-dialog-content>

<!-- <mat-dialog-actions>
  <div class="flex">
    <button mat-raised-button [disabled]="personForm.invalid || isDisabled" (click)="onPersonFormSubmit(this.formDirective)" color="primary">
      {{submitButton}}
    </button>

    <button mat-raised-button (click)="onClose();" color="warn">Fechar</button>
  </div>
</mat-dialog-actions> -->
