#toolbar {
  height: 160px;
  width: 100%;
  background-color: #000B48;
  position: fixed;
  top: 0;
  z-index: 2;
}

.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

#menu-toolbar {
  width: 60%;
  height: 60px;
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: left;
}

#menu-toolbar a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'poppins', sans-serif;
  font-weight: 00px;
  margin-left: 20px;
}

#menu-toolbar a:hover {
  border-bottom: #FFFFFF solid 1px;
}

#profile-toolbar {
  width: 20%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}

#sidebarModule-toolbar {
  width: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

#sidebarModule-toolbar mat-icon {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

#profile-toolbar span {
  color: #ffffff;
  font-size: 20px;
  font-family: 'poppins', sans-serif;
  font-weight: 400; 
  margin-left: 10px;
}

#user-profile {
  background-color: #ffffff;
  border-radius: 50%;
  width: 59px;
  height: 59px;
}

#logo-toolbar {
  width: 40%;
  height: 80px;
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: left;
}

#logo {
  font-family: 'poppins', sans-serif;
  font-size: 60px;
  margin-left: 20px;
  font-weight: 100; 
  color: #ffffff; 
}

#logo_m {
  font-weight: 900;
}

#menuModule-toolbar {
  width: 40%;
  height: 80px;
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: left;
}

mat-drawer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  z-index: 1;
}

mat-drawer {
  position: absolute;
  z-index: 1;
  background-color: red;
  width: 100%;
  position: absolute;
  height: 100vh;
  width: 100vw;
}








/* 
#header-content {
  display: flex;
  width: 100%;
  z-index: 1;
}

#header-content div {
  display: flex;
  align-items: center;
  width: 50%;
}

#header-content div:nth-child(2){
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.app-name {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 40px;

  cursor: pointer;
  
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: #E98B05;
}

.app-title {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 40px;

  cursor: pointer;
  
  font-size: large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.general-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-toolbar {
  display: flex;
  padding: 10px;
  box-shadow: 0px 1px 5px #888888;
  z-index: 2;
}
.is-mobile .header-toolbar {
  position: fixed;
  z-index: 2;
}

.menu-icon {
  color: #E98B05 !important;
}

.menu-item {
  font-size: small;
}

.sidenav-container {
  flex: 1;
}

.sidenav-container mat-sidenav {
  width: 100vw;
  z-index: 3;
}

mat-sidenav-container {
  height: 100vh;
  z-index: 3;
}

.sidenav-container mat-card {
  height: 10px;
  width: 70%;
  
  margin: auto;
  margin-top: 10px;
}
  
.sidenav-container div {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.is-mobile .sidenav-container mat-sidenav {
  width: 250px;
}  

::ng-deep .panel {
  box-shadow: none !important;
}

::ng-deep .panel .mat-expansion-panel-header {
  font-size: smaller;
  padding-top: 15px;
  padding-bottom: 15px; 
}

::ng-deep .panel .mat-expansion-panel-body {
  font-size: small;
  background: rgb(247, 247, 247);
  padding: 0px;
}

mat-sidenav {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}

mat-toolbar {
  background: #263B89;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
} */