<div class="general-container" *ngIf="isStarted">  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="over" [fixedTopGap]="options.top" [fixedBottomGap]="options.bottom">
      <div id="header-sidenav">
        <div id="sidebar-close">
          <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>close</mat-icon>
          </button>         
        </div>
        <div id="search-sidenav">
          <mat-form-field>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput placeholder="Pesquisar">
          </mat-form-field>
        </div>
        <div id="buy-sidenav">
        </div>
      </div>
      <mat-nav-list>
        <div>
          <a>
            <mat-icon>shopping_cart</mat-icon>
            <span>PDV</span>
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div id="toolbar">
        <div class="container">
          <div id="menu-toolbar">
            <div>
              <a>Início</a>
              <a>Perfil</a>
              <a>Mensagens</a>
            </div>
          </div>
          <div id="profile-toolbar" *ngIf="!isProfileChoice">
            <div id="sidebarModule-toolbar">
              <button mat-icon-button (click)="snav.toggle()">
                <mat-icon>view_module</mat-icon>
              </button>
            </div>
            <div id="user-profile"></div>
            <span *ngIf="userData[0]['_userType'] === 'people'">
              {{userData[0]['name'].split(' ')[0]}} 
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
            <span *ngIf="userData[0]['_userType'] === 'companies'">
              {{userData[0]['business_name']}} 
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
          </div>
          <br>
          <div id="logo-toolbar">
            <div id="logo">
              <label id="logo_m">M</label>oderatoro
            </div>
          </div>
          <div id="menuModule-toolbar">
          </div>
        </div>
      </div>
      <div id="teste">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
