#toolbar {
  height: 160px;
  width: 100%;
  background-color: #000B48;
  position: fixed;
  top: 0;
  z-index: 2;
}

.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

#menu-toolbar {
  width: 60%;
  height: 60px;
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: left;
}

#menu-toolbar a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'poppins', sans-serif;
  font-weight: 00px;
  margin-left: 20px;
}

#menu-toolbar a:hover {
  border-bottom: #FFFFFF solid 1px;
}

#profile-toolbar {
  width: 20%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}

#sidebarModule-toolbar {
  width: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

#sidebarModule-toolbar mat-icon {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

#profile-toolbar span {
  color: #ffffff;
  font-size: 20px;
  font-family: 'poppins', sans-serif;
  font-weight: 400; 
  margin-left: 10px;
}

#user-profile {
  background-color: #ffffff;
  border-radius: 50%;
  width: 59px;
  height: 59px;
}

#logo-toolbar {
  width: 40%;
  height: 80px;
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: left;
}

#logo {
  font-family: 'poppins', sans-serif;
  font-size: 60px;
  margin-left: 20px;
  font-weight: 100; 
  color: #ffffff; 
}

#logo_m {
  font-weight: 900;
}

#menuModule-toolbar {
  width: 40%;
  height: 80px;
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: left;
}

.general-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  flex: 1;
  z-index: 2;
}

.sidenav-container mat-sidenav {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: #000000;
  opacity: 0.8;
}

#teste mat-card {
  height: 10px;
  width: 70%;
  margin: auto;
  margin-top: 200px;
}

  
#teste {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-top: 200px;
  height: auto; 
}

::ng-deep .panel {
  box-shadow: none !important;
}

::ng-deep .panel .mat-expansion-panel-header {
  font-size: smaller;
  padding-top: 15px;
  padding-bottom: 15px; 
}

::ng-deep .panel .mat-expansion-panel-body {
  font-size: small;
  background: rgb(247, 247, 247);
  padding: 0px;
}

mat-sidenav {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}

#sidebar-close button {
  color: #ffffff;
  opacity: 1;
}

#header-sidenav {
  height: 100px;
  display: flex;
  align-items: center;
}

#sidebar-close {
  width: 100px;
  align-items: left;
  display: flex;
  justify-content: left;
  flex-grow: 1;
}

#search-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 5;
}

#search-sidenav mat-icon{
  color: #ffffff;
}

#buy-sidenav {
  width: 100px;
  align-items: right;
  justify-content: center;
  display: flex;
  flex-grow: 1;
}

.container-sidemenu {
  width: 80%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

mat-nav-list {
  height: 300px;
}

mat-nav-list #title-module {
  font-family: 'poppins', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
}

mat-nav-list #module {
  height: 230px;
  display: flex;;
  align-items: center;
  justify-content: left;
  flex-flow: wrap;

}

mat-nav-list #my-module:hover {
  background-color: #272626a2;
}

mat-nav-list #my-module {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  align-items: center;
  flex-flow: wrap;
  justify-content: center;
  margin-left: 10px;
  border-radius: 5px;
}

mat-nav-list #my-module mat-icon {
  color: #ffffff;
  font-size: 60px;
  width: 200px;
  text-align: center;
  padding-bottom: 20px;
}

mat-nav-list #my-module span {
  color: #ffffff;
  font-size: 20px;
  font-family: 'poppins', sans-serif;
  font-weight: 400;

}

#menuModule-toolbar {
  align-items: flex-end;
  justify-content: right;
  display: flex;
  height: 55px;
}

#menuModule-toolbar a {
  margin-bottom: 20px;
  margin-left: 20px;
  font-family: 'poppinss', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  justify-content: left;
  text-decoration: none;
}

#menuModule-toolbar a:hover {
  border-bottom: #FFFFFF solid 1px;
} 

/deep/ .mat-form-field-label  {
  color: #ffffff !important;
}

/deep/ .mat-form-field-underline{
  background-color: #ffffff !important;    
}
