<h2 mat-dialog-title>Fazer convite</h2>
<form [formGroup]="invitationForm" #formDirective="ngForm" (ngSubmit)="onInvitationFormSubmit(this.formDirective)">  
  <div class="flex">  
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Email" type="text" formControlName="email" required>
    </mat-form-field>
  </div>
  
  <div class="flex">
    <button mat-raised-button [disabled]="invitationForm.invalid || isDisabled">Convidar</button>
    <button mat-button [mat-dialog-close]="false">Cancelar</button>
  </div>
</form>
