<div class="spinner-container" *ngIf="!isStarted">
  <mat-spinner></mat-spinner>
</div>

<div class="flex">
  <div *ngIf="isStarted" class="container">
    <form [formGroup]="expenseForm" #formDirective="ngForm" (ngSubmit)="onExpenseFormSubmit(this.formDirective)">
      <mat-card-header class="header">
        <mat-card-title class="title">{{title}}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome da despesa" type="text" formControlName="name" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Modalidade</mat-label>
          <mat-select placeholder="Modalidade da despesa" formControlName="type" required>
            <mat-option value="expense">Despesa adm</mat-option>
            <mat-option value="fixed-cost">Custo Fixo</mat-option>
            <mat-option value="variable-cost">Custo Variável</mat-option>
          </mat-select>
        </mat-form-field>
        
        <app-additional-field [params]="paramsToAdditionalField" (changeAdditionalField)="onOutputFromAdditionalField($event)"></app-additional-field>
      </mat-card-content>
      
      <div class="button-container">
        <button mat-raised-button [disabled]="expenseForm.invalid" class="button">{{submitButton}}</button>
      </div>
      
    </form>
  </div>
</div>